@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  max-width: 100%;
  background-color: white;
}
@media (max-width: 576px) {
  body {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  body {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  body {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  body {
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  body {
    max-width: 1400px;
  }
}

.search-bar {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  align-items: center;
}
.search-bar__input {
  border: none;
  color: #353535;
  background-color: #EAEAEA;
  margin-left: 2%;
  width: 120px;
  outline: none;
  font-size: 17px;
}

/*Introduction et bouton "explorer nos restaurants"*/
.discover-restaurant {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 2%;
  padding-bottom: 2%;
  /*bouton "Explorer nos restaurants*/
}
.discover-restaurant__title {
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0%;
  margin-top: 0%;
}
@media (min-width: 768px) {
  .discover-restaurant__title {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .discover-restaurant__title {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .discover-restaurant__title {
    font-size: 48px;
  }
}
@media (min-width: 1400px) {
  .discover-restaurant__title {
    font-size: 60px;
    margin-bottom: 18px;
    margin-top: 30px;
  }
}
.discover-restaurant__btn-search {
  box-sizing: content-box;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  width: 40%;
  height: 30px;
  padding: 13px 18px;
  border-radius: 2rem;
  color: white;
  border: 1px #FF79DA;
  transition: transform 400ms;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
@media (min-width: 768px) {
  .discover-restaurant__btn-search {
    width: 33%;
    margin-bottom: 3%;
    padding-top: 1.5%;
  }
}
@media (min-width: 992px) {
  .discover-restaurant__btn-search {
    width: 24%;
    margin-bottom: 3%;
    padding-top: 1.5%;
  }
}
@media (min-width: 1200px) {
  .discover-restaurant__btn-search {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-top: 2%;
    padding-top: 1.5%;
  }
}
@media (min-width: 1400px) {
  .discover-restaurant__btn-search {
    display: flex;
    justify-content: center;
    width: 14%;
    padding-top: 1.5%;
    margin-bottom: 3%;
  }
}
.discover-restaurant__btn-search:hover {
  transform: scale(1.02);
  opacity: 0.7;
}
.discover-restaurant p {
  font-size: 18px;
  margin-bottom: 18px;
}

/*Section Fonctionnement*/
.function {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  /*Alignement icon*/
}
@media (min-width: 992px) {
  .function {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .function {
    flex-direction: row;
  }
}
@media (min-width: 1400px) {
  .function {
    flex-direction: row;
  }
}
.function__title {
  font-size: 24px;
  color: #000000;
  margin-left: 4%;
}
@media (min-width: 992px) {
  .function__title {
    margin-left: 5%;
    font-size: 26px;
    margin-top: 4%;
  }
}
@media (min-width: 1200px) {
  .function__title {
    margin-left: 5%;
    font-size: 28px;
    margin-top: 4%;
  }
}
@media (min-width: 1400px) {
  .function__title {
    margin-left: 5%;
    font-size: 31px;
    margin-top: 4%;
  }
}
.function .step_icon {
  display: flex;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
}
.function .mobile {
  margin-left: 4%;
}

.btn-function {
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 0px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 8%;
  border-radius: 20px;
  color: #333;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  font-size: 16px;
}
@media (min-width: 992px) {
  .btn-function {
    display: flex;
    margin-top: 3%;
    margin-left: 5%;
  }
}
@media (min-width: 1200px) {
  .btn-function {
    display: flex;
    margin-top: 3%;
    margin-left: 5%;
  }
}
@media (min-width: 1400px) {
  .btn-function {
    display: flex;
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 25%;
  }
}

.btn-function a {
  display: flex;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.btn-function i {
  margin-right: 5%;
  justify-content: center;
}

.btn-function:hover {
  transition: 0.2s;
  color: #9356DC;
}

/*Les restaurants*/
.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  margin-top: -7.3%;
  height: auto;
}
@media (min-width: 768px) {
  .restaurant {
    margin-top: -3%;
  }
}
@media (min-width: 992px) {
  .restaurant {
    margin-top: -3%;
  }
}
@media (min-width: 1200px) {
  .restaurant {
    margin-top: -3%;
  }
}
@media (min-width: 1400px) {
  .restaurant {
    margin-top: -3%;
    width: 100%;
    justify-content: space-between;
  }
}
.restaurant__link {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
}
.restaurant__title {
  font-size: 24px;
  color: black;
  padding-left: 5%;
  padding-bottom: 6%;
  padding-top: 2%;
  background-color: #f6f6f6;
  width: 95%;
}
@media (min-width: 992px) {
  .restaurant__title {
    padding-left: 5%;
    font-size: 26px;
    margin-top: 4%;
    padding-bottom: 4%;
  }
}
@media (min-width: 1200px) {
  .restaurant__title {
    padding-left: 5%;
    font-size: 28px;
    margin-top: 4%;
    padding-bottom: 3%;
  }
}
@media (min-width: 1400px) {
  .restaurant__title {
    padding-left: 5%;
    font-size: 31px;
    margin-top: 4%;
    padding-bottom: 3%;
  }
}
.restaurant__card {
  justify-content: center;
  align-items: center;
  margin: 1% auto;
  width: 90%;
  border-radius: 20px;
  margin-bottom: 10%;
  position: relative;
  background-color: white;
  justify-content: space-around;
}
@media (min-width: 992px) {
  .restaurant__card {
    width: 35%;
    position: relative;
    margin-bottom: 3%;
  }
}
@media (min-width: 1200px) {
  .restaurant__card {
    width: 40%;
    position: relative;
  }
}
@media (min-width: 1400px) {
  .restaurant__card {
    width: 45%;
    position: relative;
  }
}
@media (min-width: 992px) {
  .restaurant__row {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .restaurant__row {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1400px) {
  .restaurant__row {
    display: flex;
    flex-direction: row;
  }
}
.restaurant i {
  font-size: 2rem;
  position: absolute;
  right: 30px;
  bottom: 7px;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .restaurant i {
    right: 50px;
    bottom: 22px;
  }
}
@media (min-width: 992px) {
  .restaurant i {
    right: 34px;
    bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .restaurant i {
    bottom: 18px;
  }
}
@media (min-width: 1400px) {
  .restaurant i {
    bottom: 20px;
  }
}
.restaurant i .fas {
  color: transparent;
  background-image: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms;
}
.restaurant i:hover .fas {
  opacity: 0;
}
.restaurant__text {
  margin-left: 4%;
}
.restaurant__text i.fas {
  font-size: 2rem;
  background-image: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 200ms;
}
.restaurant__text i.fas:hover {
  opacity: 1;
  transition: 1.5s;
}
@media (min-width: 768px) {
  .restaurant {
    padding-bottom: 1%;
  }
}
.restaurant__text h3 {
  margin-bottom: 1%;
}
.restaurant .restaurant__card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 20px;
  height: 300px;
}
.restaurant__label-new {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .menu {
    whidth: 100%;
  }
}
@media (min-width: 1400px) {
  .menu {
    whidth: 100%;
  }
}
.menu .image__menu {
  left: 0;
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -100;
}
.menu .image__menu img {
  width: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (min-width: 768px) {
  .menu .image__menu img {
    height: 250px;
  }
}
@media (min-width: 992px) {
  .menu .image__menu img {
    height: 300px;
  }
}
@media (min-width: 1200px) {
  .menu .image__menu img {
    height: 350px;
  }
}
@media (min-width: 1400px) {
  .menu .image__menu img {
    height: 400px;
  }
}
.menu__texte {
  position: relative;
  border-radius: 20px;
  margin-top: -15%;
  background-color: #f6f6f6;
}
@media (min-width: 768px) {
  .menu__texte {
    margin: 0 auto;
    margin-top: -4%;
    width: 85%;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .menu__texte {
    margin: 0 auto;
    margin-top: -4%;
    width: 85%;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .menu__texte {
    margin: 0 auto;
    margin-top: -4%;
    width: 85%;
    align-items: center;
  }
}
@media (min-width: 1400px) {
  .menu__texte {
    margin: 0 auto;
    margin-top: -4%;
    width: 85%;
    align-items: center;
  }
}
.menu__title {
  display: flex;
  width: 100%;
  line-height: normal;
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 900;
  flex-direction: row;
  margin-left: auto;
}
@media (min-width: 992px) {
  .menu__title {
    font-size: 28px;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .menu__title {
    font-size: 28px;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1400px) {
  .menu__title {
    font-size: 28px;
    display: flex;
    justify-content: center;
  }
}
.menu__title i {
  font-size: 2rem;
  position: absolute;
  top: 2.2%;
  right: 7%;
}
@media (min-width: 768px) {
  .menu__title i {
    top: 2.2%;
    right: 15%;
  }
}
@media (min-width: 992px) {
  .menu__title i {
    top: 2.2%;
    right: 20%;
  }
}
@media (min-width: 1200px) {
  .menu__title i {
    top: 2.2%;
    right: 25%;
  }
}
@media (min-width: 1400px) {
  .menu__title i {
    top: 2.2%;
    right: 30%;
  }
}
.menu__title i i.fas {
  font-size: 2rem;
  background-image: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 200ms;
}
.menu__title i i.fas:hover {
  opacity: 1;
  transition: 1.5s;
}

.plate {
  max-width: 100%;
  padding: 0 1rem;
}
@media (min-width: 992px) {
  .plate {
    max-width: 80%;
    justify-content: center;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .plate {
    max-width: 80%;
    justify-content: center;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .plate {
    max-width: 80%;
    justify-content: center;
    margin: 0 auto;
  }
}
.plate__annoncement {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
}
.plate__annoncement:after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.plate .plate__menu {
  overflow: hidden;
  background-color: #fff;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  max-width: 100%;
}
.plate .plate__menu .check-1,
.plate .plate__menu .check-2,
.plate .plate__menu .check-3 {
  /* Autres styles ... */
  margin-right: 0;
  /* Cacher la coche au départ */
}
.plate .plate__menu:hover .check-1,
.plate .plate__menu:hover .check-2,
.plate .plate__menu:hover .check-3 {
  margin-right: 0;
}
.plate .plate__menu:not(:hover) .check-1,
.plate .plate__menu:not(:hover) .check-2,
.plate .plate__menu:not(:hover) .check-3 {
  width: 0;
}
@media (min-width: 992px) {
  .plate .plate__menu {
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  .plate .plate__menu {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .plate .plate__menu {
    width: 100%;
  }
}
.plate__choice {
  animation: appear 2s;
  max-width: 100%;
  text-overflow: ellipsis;
  font-size: x-large;
  margin-top: 3%;
  padding: 1rem;
}
@media (min-width: 992px) {
  .plate__choice {
    width: auto;
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  .plate__choice {
    font-size: 17px;
  }
}
.plate__title {
  font-weight: bold;
  margin: 0;
  font-size: 22px;
}
@media (min-width: 992px) {
  .plate__title {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .plate__title {
    font-size: 25px;
  }
}
@media (min-width: 1400px) {
  .plate__title {
    font-size: 27px;
  }
}
.plate__description {
  margin-top: 3%;
  max-width: 100%;
  font-size: 20px;
}
@media (min-width: 992px) {
  .plate__description {
    font-size: 19px;
  }
}
@media (min-width: 1200px) {
  .plate__description {
    font-size: 22px;
  }
}
@media (min-width: 1400px) {
  .plate__description {
    font-size: 25px;
  }
}
.plate__price {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  font-size: x-large;
  font-style: bold;
  margin-left: auto;
  padding: 1rem;
  margin-top: 8%;
}
@media (min-width: 992px) {
  .plate__price {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .plate__price {
    font-size: 25px;
  }
}
@media (min-width: 1400px) {
  .plate__price {
    font-size: 27px;
  }
}
.plate__check {
  display: flex;
}
.plate:hover .check-1 {
  display: flex;
  margin-right: 0;
}
.plate:hover .check-2 {
  display: flex;
  margin-right: 0;
}
.plate:hover .check-3 {
  display: flex;
  margin-right: 0;
}
.plate .check-1 {
  width: 5.5rem;
  margin-right: -5.5rem;
  background-color: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  transition: all 1.5s;
}
.plate .check-2 {
  width: 5.5rem;
  margin-right: -5.5rem;
  background-color: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  transition: all 1.5s;
}
.plate .check-3 {
  width: 5.5rem;
  margin-right: -5.5rem;
  background-color: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  transition: all 1.5s;
}
.plate i {
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: white;
  scale: 1.5;
  transition: 1s;
}

.row-plate {
  margin-top: 10%;
}
@media (min-width: 1200px) {
  .row-plate {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1400px) {
  .row-plate {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
  }
}

header {
  background-color: white;
  padding-bottom: 2%;
  padding-top: 2%;
  display: flex;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
}
header .header-title {
  margin: 0 auto;
  font-size: 45px;
  color: black;
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: 700;
  display: flex;
  text-align: center;
}

.return-arrow {
  display: flex;
  margin-top: 18px;
  margin-left: 5%;
  position: relative;
  text-decoration: none;
  color: black;
  font-size: x-large;
}

/* Ensemble footer */
footer {
  background: #353535;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  footer {
    flex-direction: row-reverse;
    padding-top: 5%;
  }
}
@media (min-width: 1200px) {
  footer {
    flex-direction: row-reverse;
    padding-top: 5%;
  }
}
@media (min-width: 1400px) {
  footer {
    flex-direction: row-reverse;
    padding-top: 5%;
  }
}

@media (min-width: 992px) {
  .footer__propal {
    flex-direction: row;
    display: flex;
    margin-left: 28%;
    margin-top: 1.4%;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .footer__propal {
    flex-direction: row;
    display: flex;
    margin-left: 32%;
    margin-top: 1.4%;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .footer__propal {
    flex-direction: row;
    display: flex;
    margin-left: 35%;
    margin-top: 1.7%;
    width: 100%;
  }
}

.footer_title {
  font-size: 27px;
  color: white;
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: 700;
  margin: 1rem 0rem;
  margin-left: 10%;
}
@media (min-width: 992px) {
  .footer_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    margin-top: 1%;
    margin-left: 5%;
  }
}
@media (min-width: 1200px) {
  .footer_title {
    margin-right: 5%;
    margin-left: 5%;
  }
}
@media (min-width: 1400px) {
  .footer_title {
    margin-right: 5%;
    margin-left: 5%;
  }
}

.footer_title a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

footer p {
  color: white;
  background-color: #353535;
  margin-left: 10%;
  font-family: "Roboto";
  font-size: 16px;
}
@media (min-width: 992px) {
  footer p {
    font-size: 12px;
    margin-left: 5%;
    margin-top: 2%;
  }
}
@media (min-width: 1200px) {
  footer p {
    font-size: 12px;
    margin-left: 5%;
    margin-top: 2%;
  }
}
@media (min-width: 1400px) {
  footer p {
    font-size: 12px;
    margin-left: 5%;
    margin-top: 2%;
  }
}

footer .icon_hand {
  margin-right: 2px;
}
@media (min-width: 992px) {
  footer .icon_hand {
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  footer .icon_hand {
    margin-right: 10px;
  }
}
@media (min-width: 1400px) {
  footer .icon_hand {
    margin-right: 10px;
  }
}

footer p i {
  margin-right: 10px;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-bottom: 2%;
}
@media (min-width: 1400px) {
  footer a {
    display: flex;
    margin-left: auto;
  }
}

.reverse {
  width: 100%;
  justify-content: end;
}
@media (min-width: 992px) {
  .reverse {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .reverse {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1400px) {
  .reverse {
    display: flex;
    flex-direction: row;
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* Styles pour le loader */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: fadeOut 3s forwards;
  visibility: hidden;
}

.loader {
  border: 8px solid #8a2be2;
  border-top: 8px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 7s linear infinite;
}

@keyframes fadeOut {
  0% {
    visibility: visible;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */