/* Styles pour le loader */
$loader-size: 50px;
$loader-color-purple: #8a2be2;
$loader-color-white: #ffffff;
$animation-duration: 7s;

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: fadeOut 3s forwards;
  visibility: hidden;
}

.loader {
  border: 8px solid $loader-color-purple;
  border-top: 8px solid $loader-color-white;
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
  animation: spin $animation-duration linear infinite;
}



@keyframes fadeOut {
  0% {
    visibility: visible;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }

}