// responsive.scss

$breakpoint: (
  small: 576px,
  medium: 768px,
  large: 992px,
  x-large: 1200px,
  xx-large: 1400px
);

@mixin small-screen {
  @media (max-width: map-get($breakpoint, small)) {
    @content;
  }
}

@mixin medium-screen {
  @media (min-width: map-get($breakpoint, medium)) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: map-get($breakpoint, large)) {
    @content;
  }
}

@mixin x-large-screen {
  @media (min-width: map-get($breakpoint, x-large)) {
    @content;
  }
}

@mixin xx-large-screen {
  @media (min-width: map-get($breakpoint, xx-large)) {
    @content;
  }
}
