:root {
    --white: white;
    --Primary-color:#9356DC ;
    --Secondary-color:#FF79DA;
    --Tertary-color:#99E2D0;
    --Grey:#353535;
    --backgroundgrey:#EAEAEA;
    --backgroundgrey2:rgb(246, 240, 240);
    --menu-bg:#f6f6f6;
  }

   