@import '../utils/variables';
@import '../utils/responsive';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  max-width: 100%;
  background-color: $white;



  @include medium {
    max-width: map-get($breakpoint, medium);
  }

  @include large {
    max-width: map-get($breakpoint, large);
  }




}