@import "../utils/variables";
@import "../utils/responsive";


.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;


    .image__menu {

        left: 0;
        width: auto;
        height: 100%;
        object-fit: cover;
        z-index: -100;

        img {
            width: 100%;
            border-radius: 20px;
            -o-object-fit: cover;
            object-fit: cover;

            @include medium {
                height: 250px;
            }

            @include large {
                height: 400px;
            }

        }

    }

    &__texte {
        position: relative;
        border-radius: 20px;
        margin-top: -15%;
        background-color: $menu-bg;
        padding-bottom: 3%;

        @include medium {
            margin: 0 auto;
            margin-top: -4%;
            width: 90%;
            align-items: center;
        }
    }

    &__title {
        display: flex;
        width: 100%;
        line-height: normal;
        font-family: "Shrikhand", cursive;
        font-weight: 900;
        flex-direction: row;
        margin-left: auto;

        @include large {

            display: flex;
            justify-content: center;
        }


        i {
            font-size: 2rem;
            position: absolute;
            top: 2.2%;
            right: 7%;


            @include medium {
                top: 2.2%;
                right: 15%;

            }

            @include large {
                top: 2.2%;
                right: 20%;
            }



            i.fas {
                font-size: 2rem;
                background-image: linear-gradient(175deg, $Primary-color 0%, $Secondary-color 100%);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                opacity: 0;
                transition: opacity 200ms;
            }

            i.fas:hover {
                opacity: 1;
                transition: 1.5s;
            }
        }
    }

}