@import "../utils/variables";
@import "../utils/responsive";


.menu{
    display: flex;
    justify-content:center;
    flex-direction: column;
    

    
    .image__menu {
    
        left: 0;
        width: auto;
        height: 100%;
        object-fit: cover;
        z-index: -100;
    
        img {
            width: 100%;
            border-radius: 20px;
            -o-object-fit: cover;
            object-fit: cover;
        }
}
&__texte{
    position: relative;
    border-radius: 20px;
    margin-top: -15%;
    background-color: $menu-bg;
}

&__title
{
    display: flex;
    width: 90%;
    margin-left: 10%;
    line-height: normal; 
    font-family: "Shrikhand", cursive;
    font-size: 35px;
    font-style: bold;
    font-weight: 900;

}


  }
  


