@import "../utils/variables";
@import "../utils/responsive";


.plate {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    


    @include medium {
   
    }
    @include large{
        max-width: 100%;
        justify-content: center;
        margin: 0 auto;
    }
    @include x-large{
        max-width: 100%;
        justify-content: center;
        margin: 0 auto;
    }
    @include xx-large{
        max-width: 100%;
        justify-content: center;
        margin: 0 auto;
    }

    &__annoncement{
    
        text-transform: uppercase;
        position: relative;
        padding-bottom: 0.5rem;
        font-weight: 400;
    
    &:after {
        content: "";
        width: 3rem;
        height: 0.25rem;
        background-color: $Tertary-color;
        position: absolute;
        left: 0;
        bottom: 0;
    }}
    &__menu{
        background-color: #fff;
        padding: 1rem;
        padding-bottom: 0.5rem;
        display: flex;
        border-radius: 0.75rem;
        margin: 1rem 0;
        box-shadow: 0.25rem 0.25rem 1rem rgba(0,0,0,.1);
        overflow: hidden;
        cursor: pointer;
        animation: itemAppear .6s;
        animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
        animation-fill-mode: both;
        justify-content: space-between;
        max-width: 100%;
        align-items: center;
    }

    

    &__choice {
        
    max-width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
font-size: x-large;
margin-top: 3%;


@include large{
    width: 350px;
    font-size: 17px;
 }
 @include x-large{
     font-size: 17px;
 }
 @include xx-large{
    margin-right: 2%;
 }


}
    
 &__title{
   
    font-weight: bold;
    margin: 0;
    @include large{
       font-size: 17px;
    }
    @include x-large{
        font-size: 17px;
    }
    @include xx-large{
        font-size: 17px;
    }
 
 }
 &__description{
    margin-top: 3%;
    max-width: 80%;
    @include large{
        font-size: 15px;
     }
     @include x-large{
         font-size: 15px;
     }
     @include xx-large{
         font-size: 14px;
     }
  
 }
&__price
{
   position: relative;
margin-bottom: 2%;
    font-weight: 700;
   font-size: x-large;
   margin-top: 3%;
   
   @include large{
       font-size: 17px;
    }
    @include x-large{
        font-size: 17px;
    }
    @include xx-large{
        font-size: 17px;
    }
 
    
}



/*ANIMATION CHECKMARK*/
&__price:hover + &__icon + &__checkmark
{
    position: relative;
    background-color: aquamarine;
    height: 90px;
    width: 60px;
 justify-content: center;
 display: flex;
 margin: 0 auto;
 color: #fff;
 display: block;
 transition: 0.5s ease-in;
}

&__checkmark
{
    
margin-top: 58%;
font-size: 30px;
}


}


.row-plate{
    @include x-large{
        display: flex;
        flex-direction: row;
    }    
    @include xx-large{
        display: flex;
     flex-direction: row;   
    }     



}