@import "../utils/variables";
@import "../utils/responsive";


.plate {
  max-width: 90%;
  margin: 0 auto;

  @include large {
    max-width: 70%;
    margin: 0 auto;
  }

  &__annoncement {
    text-transform: uppercase;
    position: relative;
    font-weight: 400;

    &:after {
      content: "";
      width: 3rem;
      height: 0.25rem;
      background-color: $Tertary-color;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  .plate__menu {
    animation: appear 2.5s forwards;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    max-width: 100%;

    .check {
      margin-right: 0;
    }

    &:hover {

      .check {
        margin-right: 0;
      }
    }

    &:not(:hover) {

      .check {
        width: 0;
      }
    }

  }


  .plate__menu:nth-of-type(1) {
    animation-delay: 0.5s;
  }

  .plate__menu:nth-of-type(2) {
    animation-delay: 1s;
  }

  .plate__menu:nth-of-type(3) {
    animation-delay: 1.5s;
  }


  &__choice {

    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0 0 10px;
  }

  &__title {
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__description {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  &__price {
    display: flex;
    font-weight: 700;
    margin-left: auto;
    align-items: end;
    margin-right: 10px;
  }



  &__check {
    display: flex;
    margin-right: 0
  }

  &:hover .check {
    display: flex;
    margin-right: 0;
  }


  .check {
    $width-checkmark: 5.5rem;
    width: $width-checkmark;
    margin-right: -1 * $width-checkmark;
    background-color: $Tertary-color;
    transition: all 1.5s;
  }



  i {
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: $white;
    scale: 1.5;
    transition: 1s;

  }
}