@import "../utils/variables";
@import "../utils/responsive";


/*Les restaurants*/
.restaurant {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $menu-bg ;
    margin-top: -7.3%;

  
    @include medium {
      margin-top: -3%;
    }
    @include large{
      margin-top: -3%;
    }
    @include x-large{
      margin-top: -3%;
    }
    @include xx-large{
      margin-top: -3%;
      width: 100%;
       justify-content: space-between;
    }

  &__link {
    text-decoration: none;
    color: #000000;
    overflow: hidden;
  }
  
  &__title {
    font-size: 24px;
    color: $black;
    padding-left: 5%;
    padding-bottom: 6%;
    padding-top: 2%;
    background-color: $menu-bg;
width: 95%;

    @include medium {
   
    }
    @include large{
      padding-left: 5%;
      font-size: 26px;
      margin-top: 4%;
      padding-bottom: 4%;
    }
    @include x-large{
      padding-left: 5%;
      font-size: 28px;
    margin-top: 4%;
    padding-bottom: 3%;
    }
    @include xx-large{
      padding-left: 5%;
      font-size: 31px;
      margin-top: 4%;
      padding-bottom: 3%;
    }

  }
  
  &__card {
    justify-content: center;
    align-items: center;
    margin: 1% auto;
    width: 90%;
    border-radius: 20px;
    margin-bottom: 3%;
    position: relative;
    background-color: $white;


    @include large{
 width: 35%;
    }
    @include x-large{
    width: 40%;
    }
    @include xx-large{
     width: 45%;
  
    }
  }
  
&__row
{

  @include medium {
 
  }
  @include large{
    display: flex;
    flex-direction: row;
  }
  @include x-large{
    display: flex;
    flex-direction: row;
  }
  @include xx-large{
    display: flex;
    flex-direction: row;
  }


}



  &__heart {
    position: absolute;
    display: flex;
    margin-top: -10%;
    margin-left: 80%;
  }
  
  &__text {
    margin-left: 4%;
    
    @include medium{
      padding-bottom: 1%;
    }
  }
  &__text h3 {
    margin-bottom: 1%;
    
  }
  
  .restaurant__card img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
    height: 300px;
  
  }
  
 &__label-new {
    background-color: $Tertary-color;
    color: $ColorNew;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
  }

 
}




/*ANIMATION COEURS */
.heart-container{
  display: flex;
  position: relative;
  margin-left: 82%;
  margin-top: -10%;


  @include large{
    position: absolute;
    margin-left: 82%;
    margin-top: -18%;
  }

  @include x-large{
    position: absolute;
    margin-left: 82%;
    margin-top: -15%;
  }
  @include xx-large{
    position: absolute;
    margin-left: 82%;
    margin-top: -10%;
  }

}
.heart-icon {
  font-size: 2.4rem;
  cursor:pointer;
  position: absolute;
  background: transparent;
    
}

.heart-icon-fill {
  display: flex;
  position: absolute;
  top: 2.5px;
  left: 2.4px;
  font-size: 2.1rem;
  color: transparent;

  transition: color 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.heart-checkbox {
  display: none;
  position: relative;
}

.heart-checkbox:checked + label .heart-icon-fill {
 
  position: absolute;
  background: linear-gradient($Primary-color, $Secondary-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 4s ease-in-out;
  padding: none;
}











