@import "../utils/variables";
@import "../utils/responsive";

/* Ensemble footer */
footer {
  background: $Grey;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include large {
    flex-direction: row-reverse;
    padding-top: 5%;
  }

}

.footer__mention {
  @include medium {}

  @include large {}

}

.footer__propal {
  @include medium {}

  @include large {
    flex-direction: row;
    display: flex;
    margin-left: 28%;
    margin-top: 1.4%;
    width: 100%;
  }

}

.footer_title {
  font-size: 27px;
  color: $white;
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: 700;
  margin: 1rem 0rem;
  margin-left: 10%;

  @include medium {}

  @include large {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 5% 0 5%;
  }
}

.footer_title a {
  text-decoration: none;
  color: $white;
  font-size: 16px;
}

footer p {
  color: $white;
  background-color: $Grey;
  margin-left: 10%;
  font-family: 'Roboto';

  @include large {

    margin-left: 5%;
    margin-top: 2%;
  }

}

footer .icon_hand {
  margin-right: 2px;

  @include large {
    margin-right: 10px;
  }

}

footer p i {
  margin-right: 10px;
}

footer a {
  text-decoration: none;
  color: $white;
  margin-bottom: 2%;


  @include large {
    display: flex;
    margin-left: auto;
  }
}

.reverse {
  width: 100%;
  justify-content: end;

  @include large {
    display: flex;
    flex-direction: row;

  }


}