@import "../utils/variables";
@import "../utils/responsive";

header {
  background-color: $white;
  padding-bottom: 2%;
  padding-top: 2%;
  display: flex;

  .header-title {
    
 margin: 0 auto;
    font-size: 45px;
    color: $black;
    font-family: "Shrikhand", cursive;
    font-style: italic;
    font-weight: 700;
    display: flex;
    text-align: center;
  }
}
.return-arrow {
  display: flex;
  margin-top: 18px;
  margin-left: 5%;
  position: relative;
  text-decoration: none;
  color: $black;
  font-size: x-large;
}
